<div class="container">
  <nav ngbNav class="navbar navbar-default navbar-header row">
    <h1 class="navbar-brand">coopagenda</h1>
    <div ngbNavItem>logged in ? logged-user : third-party-login</div>
  </nav>
  <div class="row">
    <div id="sidebar" placement="right" class="col-2">
      <ngbd-modal *ngIf="user.isAdmin" label="Create Slot" id="createSlot"></ngbd-modal>
      <ngbd-modal label="Create proposal" id="createProposal"></ngbd-modal>
    </div>
    <main class="col-10">
      <div>lista de slots</div>
      <div class="card">
        <p>for slot in slots</p>
        <ngbd-modal *ngIf="user.isAdmin" label="Edit slot" id="editSlot"></ngbd-modal>
        <div class="card-body">
          <p class="card-title">for proposal in proposals of slot</p>
          <ngbd-modal label="View proposal" id="viewProposal"></ngbd-modal>
          <ngbd-modal label="Edit proposal (if id=user.id)" id="editProposal"></ngbd-modal>
        </div>
      </div>
    </main>
  </div>
</div>